* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #000000;
  position: relative;
  transition: background-image .8s ease-in-out;
}

.time {
  font-size: 8rem;
  font-family: monospace;
}

h1 {
  margin-bottom: 1.5rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
  max-height: 100px;
  overflow-y: auto;
  font-size: 1.3rem;
}

.wrapper {
  width: 900px;
  max-width: 90%;
  display: inline-block;
  padding: 30px;
  background-color: rgba(255,255,255,.4);
}

.name {
  display: inline-block;
}

.date {
  font-size: 1.5rem;
}

#bg {
  position: absolute;
  top: 3%;
  left: 3%;
}

#bg,
.quote-btn {
  padding: 5px 10px;
  background-color: rgba(0,0,0,.3);
  border: none;
  color: #fff;
  box-shadow: 0 0 15px #fff;
  border-radius: 10px;
  transition: all .2s linear;
}

.quote-btn {
  position: absolute;
  bottom: 10%;
  right: 3%;
  text-align: center;
  box-shadow: 0 0 7px #fff;
}

#bg:hover,
#quote-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

#bg:focus,
#quote-btn:focus {
  outline: none;
}

.quote {
  color: #fff;
}

.quote-wrap {
  position: absolute;
  bottom: 3%;
  left: 50%;
  max-height: 30%;
  width: 90%;
  max-width: 90%;
  background-color: rgba(0,0,0,.6);
  padding: 10px 10px 40px;
  transform: translateX(-50%);
  overflow: auto;
}

@media (max-width: 1366px) {
  .time {
    font-size: 6rem;
  }
}

@media (max-width: 1200px) {
  h1 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1.1rem;
   }
  .wrapper {
    padding: 20px;
  }
  .time {
    font-size: 3rem;
  }
  .quote {
    font-size: 12px;
  }
}

.weather {
  background: rgba(255,255,255,.5);
  border-radius: 5px;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 20px;
  width: 240px;
}

.weather-icon {
  font-size: 50px;
  margin-top: 5px;
}

.city {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.city:before {
  content: '';
  display: inline-block;
  width: 1px;
}

@media (max-width: 575px) {
  .weather {
    width: 160px;
    align-items: center;
    padding: 5px;
  }
  .weather__wrapper {
    flex-direction: column;
  }
}
@media (min-width: 576px) {
  .weather {
    width: auto;
    max-width: 300px;
  }
  .weather__wrapper {
    display: flex;
    align-items: center;
  }
  .temperature,
  .humidity {
    margin-right: 6px;
  }
  .city {
    min-width: 170px;
  }
}
@media (min-width: 1200px) {
  .weather {
    width: auto;
    max-width: unset;
    display: flex;
  }
}