* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: 'Gotha', sans-serif; }

a {
  text-decoration: none;
  cursor: default;
  outline: none; }

input:focus, button:focus {
  outline: none; }

button {
  color: #fff;
  border: none;
  text-transform: uppercase; }

.slick-slide {
  outline: none; }

.bg-dark {
  position: relative;
  z-index: 2; }

.bg-dark::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1; }

@media (min-width: 1200px) {
  .container {
    max-width: 940px; } }

.header {
  background-color: #292929;
  padding-top: 55px;
  padding-bottom: 77px;
  border-bottom: 1px solid #4c4c4c;
  position: relative; }

.header-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header-head__callback {
  margin-top: 16px;
  margin-bottom: 120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.header-head__callback a {
  color: #ff3469;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 4px;
  border-bottom: 1px solid #ff3469; }

.header-head__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.header-head__logo {
  margin-right: 40px; }

.header-head__text {
  font-size: 12px;
  color: #979797;
  font-weight: 300;
  letter-spacing: 0.12px; }

.header-head__text span {
  color: #ff3469;
  font-weight: 500; }

.header-head__phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 7px; }

.header-head__phone a {
  color: #fff;
  font-size: 20px;
  font-weight: 500; }

.header-head__info {
  color: #d5d5d5;
  font-size: 12px;
  font-weight: 400; }

.header-main {
  text-align: center;
  position: relative; }

.header-main__title {
  font-size: 34px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 30px;
  text-transform: uppercase; }

.header-main__subtitle {
  font-size: 18px;
  color: #a4a4a4;
  text-transform: uppercase;
  margin-bottom: 95px;
  font-weight: 300; }

.header-main__subtitle span {
  color: #fff;
  font-weight: 500; }

.header-main__text {
  color: #d5d5d5;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 39px; }

.header-main__text span {
  color: #fff;
  font-weight: 500; }

.header-main__button {
  font-size: 18px;
  font-weight: 500;
  background-color: #ff2e55;
  padding: 25px 65px;
  border: 3px solid #ff2e55; }

.header-main__slider {
  margin-bottom: 83px; }

.header-main__item {
  position: relative; }

.header-main__item img {
  margin: 0 auto; }

.slider-arrow {
  width: 8px;
  height: 14px;
  z-index: 1040; }

.slider-arrow__main_left {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -40px;
  background: url(../img/header/arrow-left.png) center no-repeat; }

.slider-arrow__main_right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -40px;
  background: url(../img/header/arrow-right.png) center no-repeat; }

.feedback {
  padding-top: 99px;
  padding-bottom: 99px;
  background-color: #292929;
  border-bottom: 1px solid #4c4c4c; }

.feedback-user {
  z-index: 10; }

.feedback-title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 96px; }

.feedback-slider {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 98px; }

.feedback-slider .slick-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.feedback-slider__item {
  width: 100%;
  margin-right: 5px;
  padding-bottom: 10px; }

.feedback-slider__img {
  margin: auto 0;
  width: 220px;
  height: 220px;
  margin-right: 52px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
  position: relative;
  z-index: 4; }

.feedback-slider__img:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6); }

.feedback-slider__img_1 span, .feedback-slider__img_2 span, .feedback-slider__img_3 span {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.18px; }

.feedback-slider__img_1 {
  background: url(../img/feedback/feedback-bouquet_1.jpg) center no-repeat; }

.feedback-slider__img_2 {
  background: url(../img/feedback/feedback-bouquet_2.jpg) center no-repeat; }

.feedback-slider__img_3 {
  background: url(../img/feedback/feedback-bouquet_3.jpg) center no-repeat; }

.feedback-slider__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.18px; }

.feedback-slider__text span {
  margin-bottom: 19px; }

.feedback-slider__photo a {
  color: #f24841;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #f24841;
  padding-bottom: 2px; }

.feedback-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center; }

.feedback-block__item {
  width: 33%; }

.feedback-block__img {
  margin-bottom: 30px;
  height: 81px; }

.feedback-block__text {
  width: 80%;
  margin: 0 auto;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  text-transform: uppercase; }

.slider-arrows {
  width: 21px;
  height: 34px;
  z-index: 1040; }

.slider-arrows__feedback_left {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -40px;
  background: url(../img/feedback/feedback-arrow_left.png) center no-repeat; }

.slider-arrows__feedback_right {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -40px;
  background: url(../img/feedback/feedback-arrow_right.png) center no-repeat; }

.product {
  padding-top: 93px;
  padding-bottom: 68px;
  background-color: #292929; }

.product-title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  text-align: center;
  margin-bottom: 27px; }

.product-title span {
  color: #ff1844; }

.product-subtitle {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.18px;
  text-align: center;
  margin-bottom: 77px; }

.product-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px; }

.product-block__item {
  padding: 30px;
  border: 3px solid #ffffff;
  width: 210px;
  margin-bottom: 27px;
  text-align: center; }

.product-block__img {
  margin: 0 auto 23px;
  width: 100px;
  height: 80px; }

.product-block__img img {
  height: 100%; }

.product-block__title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  margin-bottom: 20px; }

.product-block__color {
  margin-bottom: 20px; }

.product-block__color span {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px; }

.product-block__quantity {
  margin-bottom: 20px; }

.product-block__quantity span {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px; }

.product-block__all-flowers {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.product-block__all-flowers a {
  position: relative;
  color: #f24841;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px;
  margin-right: 14px;
  border-bottom: 1px solid #f24841;
  padding-bottom: 4px; }

.product-block__all-flowers a:after {
  position: absolute;
  content: '';
  width: 10px;
  height: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -20px;
  background: url(../img/product/product-arrow__all.png) center no-repeat; }

.product-quantity {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff;
  margin: 10px auto 0;
  position: relative;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.16px; }

.product-quantity:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -25px;
  content: '-';
  color: #fff; }

.product-quantity:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -25px;
  content: '+';
  color: #fff; }

.product-color {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 7px; }

.product-color__white, .product-color__skin, .product-color__purple, .product-color__red, .product-color__blue {
  width: 20px;
  height: 20px;
  margin-right: 10px; }

.product-color__white {
  background-color: #fff; }

.product-color__skin {
  background-color: #f7b496; }

.product-color__purple {
  background-color: #ed366e; }

.product-color__red {
  background-color: #ff0000; }

.product-color__blue {
  background-color: #0000ff;
  margin-right: 0; }

.product-button {
  padding: 16px 25px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #f24841; }

.callback {
  padding-top: 101px;
  padding-bottom: 84px;
  background-color: #1a1a1a;
  text-align: center; }

.callback-title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin-bottom: 29px; }

.callback-title_line {
  margin-bottom: 63px; }

.callback-title_line span {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  padding-bottom: 11px;
  border-bottom: 1px solid #fff; }

.callback-subtitle {
  margin-bottom: 22px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.14px; }

.callback-phone a {
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.36px; }

.info {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #292929; }

.info-blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.info-block__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 33px; }

.info-block__item a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.18px; }

.info-block__delivery {
  margin-right: 34px;
  border-bottom: 1px solid #fff;
  padding-bottom: 3px; }

.info-block__pay {
  border-bottom: 1px solid #fff;
  padding-bottom: 3px; }

.info-block__join {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.vk {
  width: 20px;
  height: 12px;
  background: url(../img/info/info-vk.png) center no-repeat;
  margin-left: 13px; }

.title {
  color: #ffffff; }

.title-client, .title-schedule {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.14px;
  text-align: right; }

.title-phone {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.24px;
  text-align: right; }

.title-phone a {
  color: #fff; }

.footer {
  padding-top: 48px;
  padding-bottom: 44px;
  background-color: #fff; }

.footer-block, .footer a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #292929;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px; }

.footer-block a, .footer a a {
  margin-left: 5px; }

.footer-blocks, .footer as {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer-block__img, .footer a__img {
  margin-right: 42px; }

.footer-block__text, .footer a__text {
  color: #292929;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.12px; }

.footer-block__text span, .footer a__text span {
  color: #ff3469;
  font-weight: 500;
  letter-spacing: 0.12px; }

.overlay {
  display: none;
  z-index: 2000; }

.overlay-rose, .overlay-lily, .overlay-dahlia, .overlay-lilac, .overlay-chamomile, .overlay-iris {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); }

.overlay-rose .popup, .overlay-lily .popup, .overlay-dahlia .popup, .overlay-lilac .popup, .overlay-chamomile .popup, .overlay-iris .popup {
  position: fixed;
  padding: 58px;
  width: 500px;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff; }

.overlay-rose .popup-rose:before, .overlay-rose .popup-lily:before, .overlay-rose .popup-dahlia:before, .overlay-rose .popup-lilac:before, .overlay-rose .popup-chamomile:before, .overlay-rose .popup-iris:before, .overlay-lily .popup-rose:before, .overlay-lily .popup-lily:before, .overlay-lily .popup-dahlia:before, .overlay-lily .popup-lilac:before, .overlay-lily .popup-chamomile:before, .overlay-lily .popup-iris:before, .overlay-dahlia .popup-rose:before, .overlay-dahlia .popup-lily:before, .overlay-dahlia .popup-dahlia:before, .overlay-dahlia .popup-lilac:before, .overlay-dahlia .popup-chamomile:before, .overlay-dahlia .popup-iris:before, .overlay-lilac .popup-rose:before, .overlay-lilac .popup-lily:before, .overlay-lilac .popup-dahlia:before, .overlay-lilac .popup-lilac:before, .overlay-lilac .popup-chamomile:before, .overlay-lilac .popup-iris:before, .overlay-chamomile .popup-rose:before, .overlay-chamomile .popup-lily:before, .overlay-chamomile .popup-dahlia:before, .overlay-chamomile .popup-lilac:before, .overlay-chamomile .popup-chamomile:before, .overlay-chamomile .popup-iris:before, .overlay-iris .popup-rose:before, .overlay-iris .popup-lily:before, .overlay-iris .popup-dahlia:before, .overlay-iris .popup-lilac:before, .overlay-iris .popup-chamomile:before, .overlay-iris .popup-iris:before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  right: 0; }

.overlay-rose .popup-rose:before, .overlay-lily .popup-rose:before, .overlay-dahlia .popup-rose:before, .overlay-lilac .popup-rose:before, .overlay-chamomile .popup-rose:before, .overlay-iris .popup-rose:before {
  background: url(../img/header/header-rose.png) center no-repeat; }

.overlay-rose .popup-lily:before, .overlay-lily .popup-lily:before, .overlay-dahlia .popup-lily:before, .overlay-lilac .popup-lily:before, .overlay-chamomile .popup-lily:before, .overlay-iris .popup-lily:before {
  background: url(../img/header/header-lily.png) center no-repeat; }

.overlay-rose .popup-dahlia:before, .overlay-lily .popup-dahlia:before, .overlay-dahlia .popup-dahlia:before, .overlay-lilac .popup-dahlia:before, .overlay-chamomile .popup-dahlia:before, .overlay-iris .popup-dahlia:before {
  background: url(../img/header/header-dahlia.png) center no-repeat; }

.overlay-rose .popup-lilac:before, .overlay-lily .popup-lilac:before, .overlay-dahlia .popup-lilac:before, .overlay-lilac .popup-lilac:before, .overlay-chamomile .popup-lilac:before, .overlay-iris .popup-lilac:before {
  background: url(../img/header/header-lilac.png) center no-repeat; }

.overlay-rose .popup-chamomile:before, .overlay-lily .popup-chamomile:before, .overlay-dahlia .popup-chamomile:before, .overlay-lilac .popup-chamomile:before, .overlay-chamomile .popup-chamomile:before, .overlay-iris .popup-chamomile:before {
  background: url(../img/header/header-chamomile.png) center no-repeat; }

.overlay-rose .popup-iris:before, .overlay-lily .popup-iris:before, .overlay-dahlia .popup-iris:before, .overlay-lilac .popup-iris:before, .overlay-chamomile .popup-iris:before, .overlay-iris .popup-iris:before {
  background: url(../img/header/header-iris.png) center no-repeat; }

.overlay-rose .popup-close, .overlay-lily .popup-close, .overlay-dahlia .popup-close, .overlay-lilac .popup-close, .overlay-chamomile .popup-close, .overlay-iris .popup-close {
  position: absolute;
  right: -25px;
  top: -34px;
  font-size: 35px;
  color: #fff;
  font-weight: 400; }

.overlay-rose .popup-title, .overlay-lily .popup-title, .overlay-dahlia .popup-title, .overlay-lilac .popup-title, .overlay-chamomile .popup-title, .overlay-iris .popup-title {
  color: #f64f6b;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.24px;
  margin-bottom: 29px; }

.overlay-rose .popup-text, .overlay-lily .popup-text, .overlay-dahlia .popup-text, .overlay-lilac .popup-text, .overlay-chamomile .popup-text, .overlay-iris .popup-text {
  color: #1c1c1c;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px; }

.overlay-callback {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); }

.overlay-callback .popup {
  position: fixed;
  padding: 58px;
  width: 500px;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #ccc url(../img/modal-bg.jpg) center no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.overlay-callback .popup-close {
  position: absolute;
  right: -25px;
  top: -34px;
  font-size: 35px;
  color: #fff;
  font-weight: 400; }

.overlay-callback .popup-title {
  color: #f64f6b;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 29px; }

.overlay-callback .popup-form {
  text-align: center; }

.overlay-callback .popup-form__title {
  font-size: 17px;
  color: #fff;
  font-weight: 400; }

.overlay-callback .popup-form__text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.16px;
  margin-bottom: 20px; }

.overlay-callback .popup-form__label {
  font-size: 14px; }

.overlay-callback .popup-form__input {
  margin: 10px auto 10px;
  width: 350px;
  height: 46px;
  padding: 18px 18px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  text-align: center; }

.overlay-callback .popup-form__btn {
  padding: 15px;
  font-weight: 500;
  font-size: 15px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  text-transform: uppercase;
  border: 3px solid #f64f6b;
  background-color: #f64f6b; }

.overlay-thx {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2100;
  display: none; }

.popup-thx {
  position: fixed;
  width: 270px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px 20px;
  color: #fff;
  background: #5f5f5f;
  z-index: 2100;
  text-align: center; }

.popup-thx h2 {
  font-size: 23px;
  margin-bottom: 15px;
  color: #f64f6b; }

.popup-thx p {
  font-size: 16px; }

.close-popup {
  position: absolute;
  right: -25px;
  top: -34px;
  font-size: 35px;
  color: #fff;
  font-weight: 400; }

@media (min-width: 768px) {
  .hidden-after_mobile {
    display: none; }
  .header:before {
    position: absolute;
    content: '';
    top: 0;
    right: 35%;
    width: 39px;
    height: 24px;
    background: url(../img/header/header-leaf__top.png) center no-repeat; }
  .header-main:before {
    content: '';
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: -70px;
    left: -140px;
    width: 93px;
    height: 153px;
    background: url(../img/header/left-leaf.png) center no-repeat; }
  .header-main:after {
    content: '';
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 120px;
    right: -130px;
    width: 93px;
    height: 153px;
    background: url(../img/header/right-leaf.png) center no-repeat; } }

@media (min-width: 992px) {
  button, a, .callback-title_line, .header-main__item img {
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    font-family: 'Gotha', sans-serif; }
  .header-head__phone a:hover, .header-head__callback a:hover, .callback-phone a:hover, .info-block__join a:hover,
  .title-phone a:hover, .footer-block a:hover {
    color: #ff5883; }
  .header-head__callback a:hover {
    border-bottom: 1px solid #ff5883; }
  .info-block__delivery:hover, .info-block__pay:hover, .callback-title_line span:hover {
    color: #ff3469;
    border-bottom: 1px solid #ff3469; }
  .header-main__button:hover, .overlay-callback .popup-form__btn:hover {
    border-width: 3px;
    border-color: #ff2e55;
    border-style: solid;
    background-color: #ff1844;
    -webkit-box-shadow: 0px 0px 16px 0px #f24841;
            box-shadow: 0px 0px 16px 0px #f24841;
    left: 700px;
    top: 691px; }
  .header-main__button:hover__subtitle, .overlay-callback .popup-form__btn:hover__subtitle {
    width: 70%;
    margin-left: auto;
    margin-right: auto; }
  .slider-arrow {
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
  .slider-arrows:hover {
    cursor: pointer; }
  .slider-arrow__main_left:hover {
    background: url(../img/header/arrow-left_act.png) center no-repeat; }
  .slider-arrow__main_right:hover {
    background: url(../img/header/arrow-right_act.png) center no-repeat; }
  .product-button:hover {
    -webkit-box-shadow: 0 0 16px rgba(242, 72, 65, 0.39);
            box-shadow: 0 0 16px rgba(242, 72, 65, 0.39);
    background-color: #ff1844; }
  .product-color__white, .product-color__skin, .product-color__purple, .product-color__red, .product-color__blue {
    cursor: pointer; }
  .product-quantity:before, .product-quantity:after {
    cursor: pointer; }
  .popup-close {
    cursor: pointer; }
  .vk {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer; }
  .vk:hover {
    background: url(../img/info/info-vk_act.png) center no-repeat; }
  .header-main__item img:hover {
    background: -webkit-radial-gradient(center, circle closest-side, #fff, #292929);
    background: -o-radial-gradient(center, circle closest-side, #fff, #292929);
    background: radial-gradient(circle closest-side at center, #fff, #292929); }
  .feedback-slider__photo a:hover {
    color: #ff3469;
    border-bottom: 1px solid #ff3469; }
  .close-popup {
    cursor: pointer; } }

@media (max-width: 1200px) {
  .header-main:after {
    right: -30px; }
  .header-main:before {
    left: -20px; }
  .slider-arrow__main_left {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0; }
  .slider-arrow__main_right {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0; } }

@media (max-width: 991px) {
  .hidden-desctop {
    display: none; }
  .callback-title {
    font-size: 25px; } }

@media (max-width: 768px) {
  .hidden-mobile {
    display: none; }
  .header-head {
    margin-bottom: 40px; }
  .header-head__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .header-head__logo {
    margin-bottom: 7px; }
  .header-head__call {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .header-head__callback {
    margin-top: 0;
    margin-bottom: 0; }
  .header-head__info {
    margin-bottom: 14px; }
  .feedback-slider {
    margin-bottom: 60px;
    text-align: center; }
  .feedback-slider .slick-slide {
    display: block; }
  .feedback-slider__img {
    margin: 0 auto 30px;
    width: 190px;
    height: 190px; }
  .feedback-slider__text {
    display: block;
    width: 100%; }
  .feedback-slider__photo {
    margin-top: 20px; }
  .feedback-block {
    display: block; }
  .feedback-block__text {
    font-size: 15px; }
  .feedback-block__item {
    width: 60%;
    margin: 0 auto 40px; }
  .feedback-block__item:last-child {
    margin-bottom: 0; }
  .feedback-block__img {
    margin-bottom: 10px;
    height: 81px; }
  .product-block__item {
    width: 240px; }
  .callback-title {
    font-size: 20px; }
  .callback-title_line {
    margin-bottom: 43px; }
  .callback-phone a {
    font-size: 30px; }
  .info-block__join {
    font-size: 14px; }
  .info-block__join img {
    margin-left: 10px; }
  .footer-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer-block a {
    margin-left: 0; }
  .footer-block__img {
    margin-bottom: 7px;
    margin-right: 0; } }

@media (max-width: 576px) {
  .hidden-mobile_small {
    display: none; }
  .header-head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0; }
  .header-head__text {
    font-size: 13px; }
  .header-head__phone a {
    font-size: 16px; }
  .header-head__info {
    font-size: 9.5px; }
  .header-head__call {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header-head__callback {
    margin-bottom: 40px; }
  .header-head__callback a {
    font-size: 14px; }
  .header-head__block {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 14px; }
  .header-head__logo {
    margin: 0 0 5px; }
  .header-main__title {
    font-size: 24px; }
  .header-main__subtitle {
    font-size: 14px;
    margin-bottom: 50px; }
  .header-main__slider {
    margin-bottom: 50px; }
  .header-main__button {
    font-size: 16px;
    padding: 20px 45px; }
  .feedback {
    padding-top: 60px;
    padding-bottom: 50px; }
  .feedback-title {
    margin-bottom: 40px;
    font-size: 24px; }
  .feedback-slider {
    margin-bottom: 40px; }
  .feedback-slider__text {
    font-size: 14px;
    padding: 0 10px; }
  .feedback-slider__photo a {
    font-size: 13px;
    margin-bottom: 10px; }
  .feedback-block__item {
    width: 80%; }
  .feedback-block__text {
    font-size: 14px; }
  .slider-arrows__feedback_left {
    left: -20px; }
  .slider-arrows__feedback_right {
    right: -20px; }
  .product {
    padding-top: 50px; }
  .product-title {
    font-size: 24px; }
  .product-subtitle {
    font-size: 16px;
    margin-bottom: 40px; }
  .product-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .product-block__item {
    margin: 0 auto 27px; }
  .callback {
    padding: 50px 0; }
  .callback-title {
    font-size: 20px;
    line-height: 38px;
    margin-bottom: 20px; }
  .callback-title_line {
    margin-bottom: 33px; }
  .callback-title_line span {
    padding-bottom: 11px; }
  .callback-phone a {
    font-size: 25px; }
  .info-blocks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .info-block__join {
    margin-bottom: 25px; }
  .info-block__item {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px; }
  .title-client, .title-schedule, .title-phone {
    text-align: center; }
  .overlay-callback .popup {
    padding: 18px;
    width: 265px; }
  .overlay-callback .popup-title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px; }
  .overlay-callback .popup-form__title {
    font-size: 17px; }
  .overlay-callback .popup-form__text {
    margin-bottom: 20px; }
  .overlay-callback .popup-form__label {
    font-size: 14px; }
  .overlay-callback .popup-form__input {
    margin: 10px auto 10px;
    width: 200px;
    height: 46px;
    padding: 18px 18px;
    font-size: 14px; }
  .overlay-callback .popup-form__btn {
    padding: 15px;
    font-size: 15px; }
  .overlay-rose .popup-rose:before, .overlay-rose .popup-lily:before, .overlay-rose .popup-dahlia:before, .overlay-rose .popup-lilac:before, .overlay-rose .popup-chamomile:before, .overlay-rose .popup-iris:before, .overlay-lily .popup-rose:before, .overlay-lily .popup-lily:before, .overlay-lily .popup-dahlia:before, .overlay-lily .popup-lilac:before, .overlay-lily .popup-chamomile:before, .overlay-lily .popup-iris:before, .overlay-dahlia .popup-rose:before, .overlay-dahlia .popup-lily:before, .overlay-dahlia .popup-dahlia:before, .overlay-dahlia .popup-lilac:before, .overlay-dahlia .popup-chamomile:before, .overlay-dahlia .popup-iris:before, .overlay-lilac .popup-rose:before, .overlay-lilac .popup-lily:before, .overlay-lilac .popup-dahlia:before, .overlay-lilac .popup-lilac:before, .overlay-lilac .popup-chamomile:before, .overlay-lilac .popup-iris:before, .overlay-chamomile .popup-rose:before, .overlay-chamomile .popup-lily:before, .overlay-chamomile .popup-dahlia:before, .overlay-chamomile .popup-lilac:before, .overlay-chamomile .popup-chamomile:before, .overlay-chamomile .popup-iris:before, .overlay-iris .popup-rose:before, .overlay-iris .popup-lily:before, .overlay-iris .popup-dahlia:before, .overlay-iris .popup-lilac:before, .overlay-iris .popup-chamomile:before, .overlay-iris .popup-iris:before {
    right: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%); }
  .overlay .popup {
    width: 265px;
    text-align: justify;
    padding: 100px 18px 18px; }
  .overlay .popup-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px; }
  .overlay .popup-text {
    color: #1c1c1c;
    font-size: 14px;
    letter-spacing: 0; } }
