@font-face {
  font-family: 'Intro-Bold';
  src: url('fonts/Intro-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Intro-Regular';
  src: url('fonts/Intro-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Intro-Regular';
  font-size: 17px;
  color: #414042;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: auto;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  /* position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background: #fff;
  z-index: 99;
  width: 100%; */
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo-wrapper {
  display: flex;
  align-items: center;
}

.header-text-wrapper {
  margin-left: 20px;
}

.header-logo-text-1 {
  font-size: 17.8px;
}

.header-logo-text-2 {
  font-family: 'Intro-Bold';
  font-size: 17px;
  text-transform: uppercase;
  color: #19BB4F;
}

.tel {
  margin-right: 50px;
  font-size: 20px;
}

.tel:hover {
  color: #19BB4F;
}

.button {
  background: #19BB4F;
  border-radius: 50px;
  padding: 17px 20px;
  color: #fff;
  border: 0;
  outline: none;
}

.button:hover {
  cursor: pointer;
}

.main {
  margin-top: 100px;
  margin-bottom: 100px;
}

.main-wrapper {
  background-image: url(/rab/strahovanie/img/main-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 414px;
}

.main-text {
  padding-top: 50px;
  padding-left: 80px;
}

.main-title {
  font-family: 'Intro-Bold';
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 15px;
  width: 400px;
}

.green {
  color: #19BB4F;
}

.main-descr-1 {
  font-size: 23px;
  margin-bottom: 7px;
}

.main-descr-2 {
  font-size: 23px;
  margin-bottom: 10px;
}

.note {
  font-size: 13px;
  margin-bottom: 10px;
}

input {
  border-radius: 4px;
  outline: none;
  border-color: #3c3c3d;
  background-color: none;
}

.input-wrapper {
  margin-bottom: 15px;
}

.checkbox {
  margin-bottom: 15px;
  font-size: 13px;
  display: flex;
}

.checkbox input {
  margin-right: 10px;
}

.input {
  padding: 9px 15px;
}

.input-1 {
  margin-right: 30px;
}

.services {
  margin-bottom: 100px;
}

.services-title {
  font-family: 'Intro-Bold';
  font-size: 35px;
  text-align: center;
  margin-bottom: 50px;
}

.services-wrapper-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}

.services-wrapper-2 {
  display: flex;
  justify-content: center;
}

.services-space {
  width: 45px;
}

.services-block {
  width: 370px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: 0.3s;
}

.services-block:hover {
  transform: translate(0%, 5px);
  cursor: pointer;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.services-block-wrapper {
  padding: 40px 28px 30px;
}

.services-block-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
}

.services-block-title {
  font-size: 20px;
}

.services-block-descr {
  margin-bottom: 80px;
}

.services-block-descr-2 {
  margin-bottom: 60px;
}

.services-block-descr-3 {
  margin-bottom: 73px;
}

.services-block-descr-4 {
  margin-bottom: 77px;
}

.services-block-price {
  margin-bottom: 46px;
}

.price {
  font-family: 'Intro-Bold';
  font-size: 30px;
  color: #19BB4F;
}

.price-text {
  color: #19BB4F;
}

.button-services {
  background: #19BB4F;
  border-radius: 50px;
  color: #FFFFFF;
  padding: 17px 62px;
  border: none;
  outline: none;
  font-size: 16px;
}

.button-services:hover {
  cursor: pointer;
}

.number {
  margin-bottom: 100px;
}

.number-wrapper {
  display: flex;
  justify-content: space-between;
}

.number-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-title {
  font-size: 35px;
  font-family: 'Intro-Bold';
  color: #19BB4F;
}

.about {
  margin-bottom: 130px;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-tilte {
  font-size: 35px;
  font-family: 'Intro-Bold';
  margin-bottom: 50px;
}

.about-descr {
  width: 512px;
  margin-bottom: 50px;
}

.partner {
  margin-bottom: 100px;
}

.partner-title {
  font-size: 35px;
  font-family: 'Intro-Bold';
  margin-bottom: 50px;
  text-align: center;
}

.slider-item {
  text-align: center;
  width: 270px;
  height: 100px;
}

.slick-slide {
  outline: none;
}

.slick-slide img {
  width: inherit;
}

.arrow {
  position: absolute;
}

.arrow:hover {
  cursor: pointer;
}

.arrow_right {
  left: 98%;
  top: 30%;
  transform: translateX(50px);
}

.arrow_right-2 {
  left: 98%;
  top: 40%;
  transform: translateX(50px);
}

.arrow_right-3 {
  left: 48%;
  top: 105%;
  transform: translateX(50px);
}

.arrow_left {
  left: -1%;
  top: 30%;
  transform: translateX(-50px);
  z-index: 1;
}

.arrow_left-2 {
  left: -1%;
  top: 40%;
  transform: translateX(-50px);
  z-index: 1;
}

.arrow_left-3 {
  left: 47%;
  top: 105%;
  transform: translateX(-50px);
  z-index: 1;
}


.plus {
  margin-bottom: 100px;
}

.plus-title {
  text-align: center;
  font-size: 35px;
  font-family: 'Intro-Bold';
  margin-bottom: 50px;
}

.plus-block-wrapper-1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.plus-block-wrapper-2 {
  display: flex;
  justify-content: space-between;
}

.plus-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 365px;
}

.plus-block-icon {
  margin-bottom: 40px;
}

.plus-block-title {
  margin-bottom: 40px;
  font-size: 20px;
}

.plus-block-descr {
  text-align: center;
}

.rating {
  margin-bottom: 100px;
}

.rating-title {
  text-align: center;
  font-size: 35px;
  font-family: 'Intro-Bold';
  margin-bottom: 50px;
}

.rating-link {
  display: block;
  text-align: center;
  color: #19BB4F;
  margin-top: 20px;
}

.slider-2 {
  width: 520px;
  margin: auto;
}

.cons {
  margin-bottom: 100px;
}

.cons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cons-title {
  text-align: center;
  font-size: 35px;
  font-family: 'Intro-Bold';
  margin-bottom: 50px;
}

.cons-descr {
  margin-bottom: 10px;
  width: 570px;
  text-align: center;
}

.ajax-contact-form-2 {
  text-align: center;
}

.map {
  margin-bottom: 100px;
}

.map-wrapper {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.map-right {
  padding-top: 70px;
  padding-left: 70px;
}

.map-title {
  font-size: 35px;
  font-family: 'Intro-Bold';
  margin-bottom: 50px;
}

.adress {
  margin-bottom: 10px;
}

.adress:hover {
  color: #19BB4F;
  cursor: pointer;
}

.footer {
  background-color: #414042;
  color: #fff;
}

.footer-wrapper {
  padding-bottom: 50px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-logo {
  margin-bottom: 55px;
}

.footer-logo-text-1 {
  font-size: 17.8px;
}

.footer-block-links {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.footer-link:hover {
  color: #19BB4F;
}

.footer-block-title {
  font-size: 25px;
  margin-bottom: 47px;
}

.modal-new {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.52);
  left: 0;
  top: 0;
  z-index: 99;
  display: none;
}

.modal-new-dialog {
  width: 290px;
  padding: 40px;
  background-color: #fff;
  margin: auto;
  position: relative;
  border-radius: 8px;
}

.modal-new-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-new-close:hover {
  cursor: pointer;
}

.modal-new-wrapper {
  line-height: 25px;
}

.modal-new-tel {
  color: #19BB4F;
}

.modal-new-title {
  font-size: 22px;
  font-family: 'Intro-Bold';
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.52);
  left: 0;
  top: 0;
  z-index: 99;
  display: none;
}

.modal_visible {
  display: flex;
}

.modal__dialog {
  width: 270px;
  background-color: #fff;
  margin: auto;
  position: relative;
  border-radius: 8px;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal__close:hover {
  cursor: pointer;
}

.modal-wrapper {
  padding: 35px 15px;
}

.modal-title {
  font-size: 28px;
  font-family: 'Intro-Bold';
  margin-bottom: 10px;
}

.modal-descr-1 {
  margin-bottom: 10px;
}

.modal-descr-2 {
  margin-bottom: 15px;
}

.input-modal {
  margin-bottom: 15px;
}

.map-1,
.map-2,
.map-3 {
  width: 600px;
}

.map-2 {
  display: none;
}

.map-3 {
  display: none;
}

.map-visible {
  display: block;
}

.map-none {
  display: none;
}

.arrow-hidden {
  display: none !important;
}


@media screen and (max-width:1400px) {
  .container {
    width: 1000px;
  }

  .main-text {
    padding-top: 35px;
  }

  .main-title {
    font-size: 35px;
    line-height: 30px;
    margin-bottom: 5px;
  }

  .main-descr-1 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .main-descr-2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .input {
    padding: 5px 15px;
  }

  .services-wrapper-1 {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .adapt-block {
    margin-top: 45px;
  }

  .services-space {
    display: none;
  }

  .services-wrapper-2 {
    justify-content: space-around;
  }

  .plus-block-wrapper-1 {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .plus-block-wrapper-2 {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .map-right {
    padding-left: 35px;
  }

}

@media screen and (max-width:1024px) {
  .container {
    width: 768px;
  }

  .header-logo-wrap-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tel {
    margin-bottom: 5px;
    margin-right: 0;
  }

  .main-text {
    padding-top: 80px;
  }

  .main-wrapper {
    background-repeat: no-repeat;
    background-size: contain;
    height: 414px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-image: none;
  }

  .main-title {
    width: unset;
  }

  .map-wrapper {
    display: block;
  }

  .map-right {
    margin-bottom: 50px;
  }

  .map-1,
  .map-2,
  .map-3 {
    width: unset;
  }

  .footer-wrapper {
    display: block;
  }

  .footer-block-2,
  .footer-block-3,
  .footer-block-4 {
    margin-top: 20px;
  }

  .footer-block-title {
    margin-bottom: 0;
  }

}

@media screen and (max-width:850px) {
  .container {
    width: 575px;
  }

  .main-text {
    padding: 40px;
  }

  .adapt-block {
    margin: 0;
  }

  .serv-lap {
    margin-bottom: 35px;
  }

  .services-wrapper-1 {
    margin-bottom: 0;
  }

  .services-wrapper-2 {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .number-wrapper {
    flex-direction: column;
  }

  .number-block {
    margin-bottom: 25px;
  }

  .plus-lap {
    margin-bottom: 35px;
  }

  .arrow_left-2 {
    left: 46%;
    top: 110%;
    transform: translateX(-50px);
    z-index: 1;
  }

  .arrow_right-2 {
    left: 50%;
    top: 110%;
    transform: translateX(50px);
  }

  .slick-slide img {
    width: inherit;
  }
}

@media screen and (max-width:650px) {
  .container {
    width: 350px;
  }

  .header-wrapper {
    display: block;
  }

  .input-mob {
    margin-bottom: 10px;
  }

  .main-wrapper {
    height: unset;
  }

  .button-services {
    padding: 17px 53px;
  }

  .about-tilte {
    text-align: center;
  }

  .slider-2 {
    width: unset;
  }

  .arrow_left-2 img {
    width: 15px;
  }

  .arrow_right-2 img {
    width: 15px;
  }

  .cons-descr {
    width: unset;
  }

  .input-1 {
    margin-right: 0;
  }

  .map-right {
    padding: 70px 15px 0;
  }

  .about-descr {
    width: unset;
  }

  .plus-block-title {
    text-align: center;
  }

}

@media screen and (max-width:425px) {
  .container {
    width: 310px;
  }

  .services-block {
    width: 300px;
  }

  .main-wrapper {
    width: 300px;
    margin: auto;
  }

  .button-services {
    padding: 17px 28px;
  }

  .map-wrapper {
    width: 300px;
    margin: auto;
  }

  .footer-wrapper {
    padding: 30px;
  }

  .footer-logo-text-1 {
    font-size: 13px;
  }

  .header-logo-text-2 {
    font-size: 12.5px;
    margin-top: 5px;
  }

  .main-text {
    padding: 30px;
  }

  .about-descr {
    text-align: center;
  }

  .plus-block {
    width: 300px;
  }

  .slider,
  .slider-2,
  .slider-3 {
    width: auto;
  }

  .checkbox input {
    margin-right: 0px;
  }

}
